{% extends '_layouts/base.njk' %}

{% block page_title %}{{member.name}}{% endblock %}

{% block member_description %} {{member.title}} by {{member.name}}{% endblock %}

{% block content %}
<article class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="img/members/{{member.image}}" alt="" class="img-fluid">
            <p>{{member.name}}</p>
        </div>
    
        <div class="col-sm-8">
            <h1>{{member.name}}</h1>
            <p>{{member.text|safe}}</p>
        </div>
    </div>
</article>

{% endblock %}