{% extends '_layouts/detail-entry.njk' %}
{% set entry= data.entries[4] %}


{% block story %}
    <h1>{{entry.title}}</h1>
    <h5>Albums {{entry.date}}</h5>
    <img src="" alt="" class="img-fluid">
    <p>PLACE HOLDER</p>
    {% endblock%}