{% extends '_layouts/detail-entry.njk' %}
{% set entry= data.entries[2] %}


{% block story %}
    <h1>{{entry.title}}</h1>
    <h5>Brian May {{entry.date}}</h5>
    <img src="img/brian-may.jpg" alt="Brian May" class="img-fluid">
    <p>Brian Harold May, CBE (born 19 July 1947) is an English musician, singer, songwriter, producer and astrophysicist. He is the lead guitarist of the rock band Queen. His songs include "We Will Rock You", "Tie Your Mother Down", "I Want It All", "Fat Bottomed Girls", "Flash", "Hammer to Fall", "Save Me", "Who Wants to Live Forever" and "The Show Must Go On". May was a co-founder of Queen with lead singer Freddie Mercury and drummer Roger Taylor, having previously performed with Taylor in the band Smile, which he had joined while he was at university. 
    </p>
    {% endblock%}