{% extends '_layouts/base.njk'%}

<title>Queen | {% block page_title %}Queen {% endblock %} </title>

{% block page_description %}The search description for this page goes here. {% endblock%}

{% block content%}
<div class="container">
<h1>Band Members</h1>
    <div class="row">
        {% for member in queen.members %}
        <div class="col-sm-6 col-lg-3">
        <div class="card mb-4">
        <img src="img/members/{{member.image}}" class="card-img-top" alt="....">
            <div class="card-body">
            <h5 class="card-title"> {{members.names}}</h5>
            <p class="card-text">{{member.instruments}}</p>
            <p> <a href="{{members.slug}}.html"> Link to {{members.name}}</a> Lead Vocals/Piano </p>
            </div>
            </div>
            </div>
            {% endfor %}
        </div>
  <div class="container">
  <h2> Discography</h2>
  <div class="row">
  {% for Discography in queen.discography%}
  <div class="col-sm-6 col-lg-3">
  <img src="img/discography/{{disc.image}}" class="card-img-top" alt="....">
  <div class="card-body">
  <h5 class="card-title"> {{discography.name}}</h5>
  <p class="card-text"> {{discography.year}}</p>
  </div>
  </div>
  </div>

{% endblock %}