<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">Queen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Band Members
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="freddiemercury.html">Freddie Mercury</a>
            <a class="dropdown-item" href="brianmay.html">Brian May</a>
            <a class="dropdown-item" href="rogertaylor.html">Roger Taylor</a>
            <a class="dropdown-item" href="rogertaylor.html">John Deacon</a>
            <a class="dropdown-item" href="albums.html">Albums</a>

        </div>
      </li>
    </ul>
  </div>
</nav>
