{% extends '_layouts/base.njk'%}

{% block page_title %}Queen Homepage{% endblock %}

{% block page_description %}The search description for this page goes here. {% endblock%}

{% block content%}
<div class="container">
<img src="img/queen.jpg" alt="Queen" class="img-fluid">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <h1>The Story of Queen</h1>
            <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p>
        {% for entry in data.entries %}
            <h3 class="entry-headline"><a href="{{entry.url}}">{{entry.title}}</a></h3>
            <p class="entry-date">{{entry.date}}</p>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}