.jumbotron.banner {
    background: url(../img/queen-band-wallpaper.jpg) no-repeat center;
    background-size: cover;
    background-color: black;
    padding-top: 12rem
  }
  
  .jumbotron {
    margin-bottom: 30px;
    background-color: black;
  }