.jumbotron.banner {
    background-size: cover;
    background-position: center;
    padding-top: 12rem
  }
  
  .jumbotron {
    margin-bottom: 30px;
    background-color: black;
    color: white;
  }