
title {
  background-color: black;
  color: white;
  font-family:'Dancing Script', cursive;

}

h4 {
  color: white;
  background-color: black;
  font-size: x-large;
  font-weight: bold;
}

body {
  background-color: black;
  color: white;
}

p {
  background-color: black;
  color: white;
  font-family: 'Gotu', sans-serif;
}

div {
  background-color: black;
  color: white;
}

a {
  color: white;
}

.class {
  background-color: black;
  color: white;
}

.dropdown-item {
  text-align: left;
}
